html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// -- Clearfix -- //
// @extend .clearfix
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// -- Equal Spaced Columns -- //
// Number of Columns - First Column
// Remaining Number of Columns * Margin Spacing
// Container Width - Total Margin Spacing
// Remaining Width / Total Number of Columns

// -- Equal Spaced Columns -- //
// Number of Columns - First Column
// Remaining Number of Columns * Margin Spacing
// Container Width - Total Margin Spacing
// Remaining Width / Total Number of Columns

@mixin equalSpaced( $num_of_cols, $spacing, $container_width  ){
  
  width: ( $container_width - ( $spacing * ($num_of_cols - 1) ) ) / $num_of_cols;
  margin-left: $spacing;
  margin-top: $spacing;
  float: left;
  
  // Remove Spacing from First Child
  &:first-child{
    margin-left: 0;
  }
  
  
  // Remove margin-left of the first element in each row.
  &:nth-child( #{$num_of_cols}n + 1){
    margin-left: 0;
  }
  
  // Top Row Remove Margin Top from First Row of Columns
  @for $i from 1 through $num_of_cols {
      &:nth-child(#{$i}) {
          margin-top: 0;
      }
  }

  
}


body{
  margin: 0;
  font-size: 1em;
  background: #fff;
  font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label:before{ border: 1px solid #cecece; color: #cecece; padding: 0.25rem }
input{  }


.buildmode{
  position:fixed;
  z-index:10;
  top:0px;
  left:10px;
  background:#fff;
  padding:0.5rem 1rem;
}


.left-controls{
  position:fixed;
  z-index:10;
  top:40px;
  left:10px;
  background:#fff;
  padding:1rem;
}

.zoom-container{
  position:relative;
  input{
    position: relative;
    top:5px;
  }
}

#stats-container{
  list-style:none;
  padding: 0;
}





.controls{
  width: 275px;
  list-style: none;
  padding: 2.5rem 1.5rem;
  box-shadow: -1px 1px 4px 0px #666;
  background: #fff;
  position: fixed;
  right: 40px;
  top: 0;
  z-index: 1;

  &:hover{
    opacity: 1;
    header{border:1px solid red;}
  }

  .col-container{
    margin-top: 1em;
    &:first-child{
      margin-top: 0;
    }
  }


  label{ display: block; }
  input{ 
    display: block;
    width: 100%;
  }


  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    @extend .clearfix;

    li{
      margin-top: 10px;
      &:first-child{
        margin-top:0;
      }
    }
    button{
      width: 100%;
      display:block;
      text-align:center;
    }
  }
  

}


.control-group{
  @include equalSpaced(2, 10%, 100%);
}

.control-group-3{
  @include equalSpaced(3, 10%, 100%);
}












.col-container{
  @extend .clearfix;
  margin: 0 auto;
  &:hover button{
    opacity: 1;
  }
  button{
    opacity: 0;
  }
}




#display .col-container, #preview-display .col-container{
  transition:all 0.3s ease;
  cursor:pointer;
  &:hover{
    box-shadow: inset 0 0 0 25px #53a7ea;
  }
}


#display section, #preview-display section{
  &:hover{
    button{
      opacity: 1;
    }
  }
}

#display button, #preview-display button{
  position: absolute;
  cursor:pointer;
  top:3px;
  right:3px;
  z-index:1;
  color: rgb(170, 0, 0);
  background: #fff;
  opacity: 0;
  border: 3px solid rgb(170, 0, 0);
  transition:all 1.5s ease;
}




