html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// -- Clearfix -- //
// @extend .clearfix
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// -- Equal Spaced Columns -- //
// Number of Columns - First Column
// Remaining Number of Columns * Margin Spacing
// Container Width - Total Margin Spacing
// Remaining Width / Total Number of Columns

// -- Equal Spaced Columns -- //
// Number of Columns - First Column
// Remaining Number of Columns * Margin Spacing
// Container Width - Total Margin Spacing
// Remaining Width / Total Number of Columns

@mixin equalSpaced( $num_of_cols, $spacing, $container_width  ){
  
  width: ( $container_width - ( $spacing * ($num_of_cols - 1) ) ) / $num_of_cols;
  margin-left: $spacing;
  margin-top: $spacing;
  float: left;
  
  // Remove Spacing from First Child
  &:first-child{
    margin-left: 0;
  }
  
  
  // Remove margin-left of the first element in each row.
  &:nth-child( #{$num_of_cols}n + 1){
    margin-left: 0;
  }
  
  // Top Row Remove Margin Top from First Row of Columns
  @for $i from 1 through $num_of_cols {
      &:nth-child(#{$i}) {
          margin-top: 0;
      }
  }

  
}




$breakpoint-desktop : 1020px;


body{
  margin: 0;
  font-size: 1em;
  background: #fff;
  font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p{
  margin: 0;
}

input[type='range']{
  margin-top:1rem;
  width: 100%;
}







input[type='checkbox']{
  font-size: 1.5em;
  padding: 0.5em;
}


.buildmode, .controls{
  background: rgba(255,255,255,0.85);;
  @media screen and (min-width: $breakpoint-desktop){
    background:rgba(255,255,255,0.95);
  }
}


.buildmode{
  padding:1rem 1rem;
  position: fixed;
  top: 0;
  right: 1em;
  z-index:200;
  input{
    float:right;
  }
  @media screen and (min-width: $breakpoint-desktop){
      
      width: 275px;
      z-index:10;
      top: 0;
      right: 110px;
  }
}


.zoom-container{
  position:relative;
  input{
    position: relative;
    top:5px;
  }
}

#stats-container{
  list-style:none;
  padding: 0;
}


.fixed-controls{
  @media screen and ( max-width: $breakpoint-desktop ){
    position:fixed;
    bottom: 0;
    left:0;
  }
}


.controls{
  list-style: none;
  padding:1.5em 3.5em;
  z-index: 10;
  width: 100%;
  z-index: 100;


  @media screen and ( min-width: $breakpoint-desktop ){
    position: fixed;
    padding: 1.5rem;
    box-shadow: -1px 1px 4px 0px #666;
    width: 275px;
    left: auto;
    right: 110px;
    top: 40px;
    bottom: auto;
  }

  input, textarea{ 
    display: block;
    width: 100%;
  }




  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    @extend .clearfix;

    li{
      margin-top: 10px;
      &:first-child{
        margin-top:0;
      }
    }
    button{
      width: 100%;
      display:block;
      text-align:center;
    }
  }
  

}


  .clear-all-button{
    background: #aa0000;
    color:#fff;
  }





.col-container{
  @extend .clearfix;
  margin: 1em auto;
  &:hover{
    button{
      opacity: 1;
    }
  }
  &:first-child{
      margin-top: 0;
    }

  span{
    float: left;
  }
  button{
    opacity: 0;
  }
}

.control-group{
  @include equalSpaced(2, 10%, 100%);
}

.control-group-3{
  @include equalSpaced(3, 10%, 100%);
}





.stats-url{
  padding: 1.5rem;
  background: #fff;
  z-index: -1;
  box-shadow: -1px 1px 4px 0px #666;
  width: 100%;

  label{display:block;}
  

  @media screen and ( min-width: $breakpoint-desktop ){
    position: absolute;
    opacity: 1;
    z-index: 10;
    top: 10px;
    left: 10px;
    width: 275px;
  }
  

}






#group-display{
  .col-container{
    margin: 0 auto;
  }
}



.active-container{
    background: #53a7ea;
    button{
      opacity: 1!important;
      display:block;
    }  
}







// Mobile
@media screen and (max-width: $breakpoint-desktop){
  .controls .col-container { margin: 2em 0;}
  hr{display: none;}
  label{ display: none; }
  input[type='range'] {
      -webkit-appearance: none;
      height: 6.5em;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      padding:2.5em;
      background: #cecece;
  }
  input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 6em;
      background:#fff;
      height: 6em;
      -webkit-border-radius: 50%;
  }

  // Colours
  .control-group-3{
    display: none;
  }

  input[type='button']{
    padding: 2em;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .clear-all-container{display: none;}

}








// Desktop
@media screen and (min-width: $breakpoint-desktop){

  #display .col-container, #preview-display .col-container{
    transition:all 0.3s ease;
    cursor:pointer;
    &:hover{
      outline: 2px solid #53a7ea;
      position:relative;
      z-index:2;
      box-shadow: inset 0 0 0 25px #53a7ea;
    }
  }


  #display section, #preview-display section{
    
      &:hover{
        button{
          opacity: 1;
        }
        .col-container{
          outline: 2px solid #53a7ea;
          position:relative;
          z-index:2;
          box-shadow: inset 0 0 0 25px #53a7ea;
        }
      }
    
  }

}


#display button, #preview-display button{
  position: absolute;
  cursor:pointer;
  top:0;
  padding: 0.5em;
  z-index:5;
  background: #fff;
  opacity: 0;
  right:10px;
  background: rgb(170, 0, 0);
  border: none;
  color: #fff;
  
}




